<div class="tags">
  <nz-tag
    *ngFor="let tag of tags; let i = index;"
    nzMode="closeable"
    (nzOnClose)="del(i)">
    {{ tag.name }}
  </nz-tag>
  <nz-tag *ngIf="!editable" class="add" (click)="onShowInput()">
    <i class="anticon anticon-plus"></i>
    添加tag
  </nz-tag>
  <input
    #input
    nz-input
    *ngIf="editable"
    class="input-tag"
    type="text"
    nzSize="small"
    [(ngModel)]="tag"
    (keydown)="post($event)">
</div>
<section class="list">
  <nz-tag
    *ngFor="let tag of list;"
    (click)="onSelect(tag)">
    {{ tag.name }}
  </nz-tag>
</section>

