<ul class="toolbar">
  <li>
    <button title="开启标题导航">
      <i class="icon">menu</i>
    </button>
  </li>
  <li>
    <button title="预览">
      <i class="icon">visibility</i>
    </button>
  </li>
  <li>
    <button title="编辑">
      <i class="icon">visibility_off</i>
    </button>
  </li>
  <li (click)="onToggleFullscreen()">
    <button *ngIf="!fullscreen; else elseBlock" title="全屏">
      <i class="icon">fullscreen</i>
    </button>
    <ng-template #elseBlock>
      <button title="退出全屏">
        <i class="icon">fullscreen_exit</i>
      </button>
    </ng-template>
  </li>
  <li>
    <button title="沉浸式阅读">
      <i class="icon">zoom_out_map</i>
    </button>
  </li>
  <li>
    <button title="双栏">
      <i class="icon">view_stream</i>
    </button>
  </li>
  <li class="divider">
    <button title="查看html">
      <i class="icon">code</i>
    </button>
  </li>
  <li>
    <button title="帮助">
      <i class="icon">help</i>
    </button>
  </li>
</ul>
