<table>
  <tbody>
    <tr>
      <td class="user">
        <img src="https://avatars1.githubusercontent.com/u/11797281?s=30&v=4" alt="stark" title="stark">
      </td>
      <td class="mark">
        <span class="ripple">
          <i class="icon">star_border</i>
        </span>
      </td>
      <td class="scan">
        <span>0</span> / <span>0</span>
      </td>
      <td class="title">
        <div class="text-ellipsis">
          <strong>明, you have more friends on Facebook than you think</strong>
          <span>- 放量A级发开翻开ad森饭卡隆扥解决发送到囧放大看法as量翻看法撒旦卡解决发送到囧放大看法as量翻看法撒旦卡了发当饭哈法撒旦发当饭哈法撒</span>
        </div>
      </td>
      <td class="comt">
        <img src="https://avatars1.githubusercontent.com/u/11797281?s=24&v=4" alt="">
      </td>
      <td class="date">12分钟前</td>
    </tr>
  </tbody>
</table>