<article class="comment-item">
  <div class="meta">
    <div class="title">
      <img [src]="comment.avatar" [alt]="comment.nickname">
      <span>{{ comment.nickname }}</span>
      <ng-container *ngIf="comment.receiverID">
        <i class="anticon anticon-caret-right"></i>
        <span>{{ comment.receiverName }}</span>
      </ng-container>
    </div>
    <div>
      <span>{{ comment.updatedAt | ago }}</span>
    </div>
  </div>
  <div class="text">
    <div class="markdown-body">
      <div [innerHTML]="comment.content | parseMD"></div>
    </div>
  </div>
  <aside class="extra" *ngIf="!isReply; else edit">
    <button [nzLoading]="liking" nz-button [class.like]="comment.isLike" (click)="onLike(comment.id)">
      {{ comment.likeCount ? comment.likeCount : '' }}
      <i class="icon">thumb_up</i>
      {{ comment.isLike ? '已赞' : '赞' }}
    </button>
    <button (click)="showReplyEditor()">
      <i class="icon">reply</i>
      回复
    </button>
    <button nz-button [nzLoading]="answering" *ngIf="!topic.shared && user.id === topic.authorID && comment.replies" (click)="onAnswer(comment.id)">
      <i class="icon">done</i>
      {{ comment.id === topic.answerID ? '取消答案' : '设为答案' }}
    </button>
  </aside>
  <ng-template #edit>
    <div class="reply-edit" *ngIf="isReply">
      <div class="textarea" #reply  contentEditable></div>
      <div class="reply-footer">
        <button nz-button (click)="cancel()" [disabled]="loading">取消</button>
        <button nz-button nzType="primary" (click)="submit()" [nzLoading]="loading">回复</button>
      </div>
    </div>
  </ng-template>
</article>
<ng-content></ng-content>
