<section class="tag-list">
  <header>
    <h4>选中标签即可</h4>
    <button class="close ripple" (click)="onClose()">
      <i class="anticon anticon-close"></i>
    </button>
  </header>
  <article [loading]="loading">
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
    <nz-tag>Tag 1</nz-tag>
  </article>
</section>