<header>
  <h1>
    <a class="logo">
      <i class="anticon anticon-android-o"></i>
    </a>
    <nz-input-group nzSuffixIcon="anticon anticon-search">
      <input type="text" nz-input placeholder="input search text">
    </nz-input-group>
  </h1>
  <ul class="tool">
    <li>
      <nz-dropdown nzTrigger="click" nzPlacement="bottomLeft">
        <p nz-dropdown>
          <nz-badge [nzDot]="true">
            <i class="anticon anticon-notification"></i>
          </nz-badge>
        </p>
        <ul nz-menu>
          <li nz-menu-item>在fsdfjksdf中回复了你的回答</li>
        </ul>
      </nz-dropdown>
    </li>
    <li>
      <nz-dropdown nzTrigger="click" nzPlacement="bottomLeft">
        <p nz-dropdown>
          <i class="anticon anticon-plus"></i>
          <i class="anticon anticon-down"></i>
        </p>
        <ul nz-menu>
          <li nz-menu-item>提问</li>
        </ul>
      </nz-dropdown>
    </li>
    <li>
      <nz-dropdown nzTrigger="click" nzPlacement="bottomLeft">
        <p nz-dropdown>
          <img src="https://avatars1.githubusercontent.com/u/11797281?s=40&v=4" alt="">
          <i class="anticon anticon-down"></i>
        </p>
        <ul nz-menu>
          <li nz-menu-item (click)="login()">登录</li>
        </ul>
      </nz-dropdown>
    </li>
  </ul>
</header>
