.toolbar {
  display: flex;

  li {
    padding: 0 2px;
  
    &.divider:before {
      content: "";
      width: 1px;
      height: 20px;
      display: inline-block;
      background: #ccc;
      margin: 0 4px;
    }
  }
  
  button {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
    
    &.active,
    &:hover {
      background: #eee;
    }

    &.save {
      border: 1px solid #d9d9d9;
      box-shadow: 0 2px 0 rgba(0,0,0,.045);
      width: 50px;
      background-color: #1890ff;
      border-color: #1890ff;
      color: #fff;
      line-height: 1;

      &:hover {
        background-color: #40a9ff;
        border-color: #40a9ff;
      }
    }
  }
}
