<div class="md-editor" [class.fullscreen]="fullscreen">
  <div class="toolbar">
    <app-toolbar-left
      [simple]="simple"
      (prev)="onPrev()"
      (next)="onNext()"
      (trash)="onTrash()"
      (save)="onSave()"></app-toolbar-left>
    <app-toolbar-right [simple]="simple"></app-toolbar-right>
  </div>
  <div class="panel">
    <app-panel-edit [@stateEdit]="preview" [content]="_content"></app-panel-edit>
    <app-panel-view [isParse]="isParse" [@statePreview]="preview" [content]="_content"></app-panel-view>
  </div>
</div>
