.md-editor {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px #f0f1f2;
  height: 40px;
  align-items: center;
}
