<section [loading]="detailLoading">
  <header>
    <h1>
      {{ topic?.title }}
    </h1>
    <ul>
      <li *ngFor="let tag of topic?.tags">
        <nz-tag>{{ tag.name }}</nz-tag>
      </li>
    </ul>
  </header>
  <article class="markdown-body">
    <div [innerHTML]="topic?.content | parseMD"></div>
  </article>
</section>
<aside [@slideComt]="hide" (@slideComt.done)="toggleDone()">
  <div class="inner">
    <div class="header">
      <button (click)="toggle()">
        <i class="icon ripple" >menu</i>
      </button>
      <button (click)="close()">
        <i class="icon ripple">close</i>
      </button>
    </div>
    <ul class="statistic">
      <li>
        作者: <span>{{ topic?.nickname }}</span> /
        发布: <span>{{ topic?.createdAt }}</span> /
        浏览: <span>{{ topic?.view }}</span>
      </li>
      <li>
        <nz-button-group>
          <button [nzLoading]="liking" [class.like]="topic?.isLike" nz-button (click)="onLike()">
            <i class="icon">thumb_up</i>
          </button>
          <button nz-button>{{ topic?.likeCount }}</button>
        </nz-button-group>
        <nz-button-group>
          <button [nzLoading]="favoring" [class.favor]="topic?.isFavor" nz-button (click)="showFavorModal()">
            <i class="icon">star</i>
          </button>
          <button nz-button>{{ topic?.favorCount }}</button>
        </nz-button-group>
      </li>
    </ul>
    <div class="comments" [loading]="commentsLoading">
      <nz-card [nzTitle]="count" [nzExtra]="comt" [nzBordered]="false">
        <p *ngIf="!total; else elseBlock;">暂无回复</p>
        <ng-template #elseBlock>
          <app-comment-list [data]="comments"></app-comment-list>
        </ng-template>
      </nz-card>
    </div>
  </div>
  <ng-template #count>
    <span>{{ total }} 回复</span>
  </ng-template>
  <ng-template #comt>
    <a href="javascript:;" (click)="toggleComtEditor()">{{ fade ? '取消' : '回复' }}</a>
  </ng-template>
  <div class="md" *ngIf="fade" [@fade]="fade">
    <app-md-editor [simple]="true" (save)="onSubmit($event)"></app-md-editor>
  </div>
</aside>
<div class="btn-menu" *ngIf="done">
  <i class="icon ripple" (click)="toggle()">menu</i><br><br>
  <i class="icon ripple" (click)="close()">close</i>
</div>
<app-favor-modal [visible]="visible" (cancel)="onClose()"></app-favor-modal>
