<aside>
  <div class="new-topic">
    <a [routerLink]="['', {outlets: {slide: 'topic/create'}}]">
      <i class="icon">add</i>
      <span>提问题</span>
    </a>
  </div>
  <ul class="dashboard">
    <li>
      <div class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="icon">question_answer</i>
        <a routerLink="/all">全部</a>
        <strong>123</strong>
      </div>
    </li>
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">record_voice_over</i>
        <a routerLink="/my">我的</a>
        <strong>123</strong>
      </div>
    </li>
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">done</i>
        <a routerLink="/solved">已解决</a>
        <strong>1</strong>
      </div>
    </li>
    <li toggle>
      <div class="item" routerLinkActive="active">
        <label class="arrow">
          <i class="anticon anticon-caret-right"></i>
        </label>
        <i class="icon">star</i>
        <a routerLink="/collection">收藏</a>
        <strong>123</strong>
      </div>
    </li>
    <li class="dropdown">
      <div class="item">
        <i class="icon">J</i>
          <a routerLink="/tag">nginx</a>
        <strong>12</strong>
      </div>
      <div class="item">
        <i class="icon">J</i>
          <a routerLink="/tag">goweb</a>
        <strong>12</strong>
      </div>
      <div class="item">
        <i class="icon">J</i>
          <a routerLink="/tag">算法</a>
        <strong>12</strong>
      </div>
    </li>
    <!-- <li toggle>
      <div class="item">
        <label class="arrow">
          <i class="anticon anticon-caret-right"></i>
        </label>
        <i class="icon">group</i>
        <a routerLink="/project">项目</a>
        <strong>12</strong>
      </div>
    </li>
    <li class="dropdown">
      <div class="item">
        <i class="icon">指</i>
          <a routerLink="/tag">raccon</a>
        <strong>12</strong>
      </div>
    </li> -->
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">share</i>
        <a routerLink="/shared">分享</a>
        <strong></strong>
      </div>
    </li>
    <li toggle>
      <div class="item">
        <label class="arrow">
          <i class="anticon anticon-caret-right"></i>
        </label>
        <i class="icon">label</i>
        <span>标签</span>
        <strong>4</strong>
      </div>
    </li>
    <li class="dropdown" [class.show]="showTags">
      <div class="item">
        <i class="icon">J</i>
        <a routerLink="/tag">javascript</a>
        <strong>12</strong>
      </div>
      <div class="item" routerLinkActive="active">
        <i class="icon">J</i>
        <a routerLink="/tag">javascript</a>
        <strong>12</strong>
      </div>
    </li>
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">insert_drive_file</i>
        <a routerLink="/draft">草稿</a>
        <strong>12</strong>
      </div>
    </li>
  </ul>
</aside>
