<aside>
  <div class="new-topic">
    <a [routerLink]="['', {outlets: {slide: 'topic/create'}}]">
      <i class="icon">add</i>
      <span>提问题</span>
    </a>
  </div>
  <ul class="dashboard">
    <li>
      <div class="item" [class.active]="url | linkActive:'home'">
        <i class="icon">question_answer</i>
        <a routerLink="/all">全部</a>
      </div>
    </li>
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">record_voice_over</i>
        <a routerLink="/my">我的</a>
      </div>
    </li>
    <li>
      <div class="item" [class.active]="url | linkActive:'solved'">
        <i class="icon">done</i>
        <a routerLink="/solved/question">已解决</a>
      </div>
    </li>
    <li [appToggle]="cCount">
      <div class="item" routerLinkActive="active">
        <label class="arrow" *ngIf="cCount">
          <i class="anticon anticon-caret-right"></i>
        </label>
        <i class="icon">star</i>
        <span>收藏</span>
      </div>
    </li>
    <li class="dropdown">
      <div class="item" *ngFor="let c of categories" routerLinkActive="active">
        <!-- <i class="icon">J</i> -->
        <a [routerLink]="['/collection', c.name]">{{ c.name }}</a>
        <strong>{{ c.count }}</strong>
      </div>
    </li>
    <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">share</i>
        <a routerLink="/shared">分享</a>
      </div>
    </li>
    <li [appToggle]="tCount">
      <div class="item">
        <label class="arrow" *ngIf="tCount">
          <i class="anticon anticon-caret-right"></i>
        </label>
        <i class="icon">label</i>
        <span>标签</span>
      </div>
    </li>
    <li class="dropdown" [class.show]="showTags">
      <div class="item" *ngFor="let tag of tags" routerLinkActive="active">
        <!-- <i class="icon">J</i> -->
        <a [routerLink]="['/tag', tag.name]">{{ tag.name }}</a>
        <strong>{{ tag.count }}</strong>
      </div>
    </li>
    <!-- <li>
      <div class="item" routerLinkActive="active">
        <i class="icon">insert_drive_file</i>
        <a routerLink="/draft">草稿</a>
      </div>
    </li> -->
  </ul>
</aside>
