.toolbar {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 16px 0 0;
  position: relative;

  &:before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }
}

.inner {
  flex: auto;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.op {
  display: flex;
}

.item {
  margin: 0 12px;
  line-height: 1.6;
}

.pagination {
  display: flex;
}

.tip {
  display: flex;
  align-items: center;
}

button[disabled] {
  color: #ccc;
}

i.mid {
  font-size: 18px;
  vertical-align: sub;
}

.date {
  border-radius: 0 4px 4px 0 !important;
}

.center {
  line-height: 1.6;
}

button {
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}
