<div class="toolbar">
  <div class="inner">
    <div class="op">
      <div class="item ripple" nz-tooltip nzTitle="刷新数据" (click)="onRefresh()" nzPlacement="bottom">
        <i class="icon">refresh</i>
      </div>
      <div class="item">
        <nz-button-group nzSize="small" (click)="onDateFilter($event)">
          <button nz-button data-date="0">本周</button>
          <button nz-button data-date="1">上周</button>
          <button nz-button data-date="2">本月</button>
          <button
            class="date"
            nz-button
            nz-tooltip
            nzTitle="自定义"
            nzPlacement="bottom"
            data-date="3">
            <i class="icon mid">date_range</i>
          </button>
        </nz-button-group>
      </div>
      <div class="item">
        2019-01-01 12:33:33 ~ 2019-01-33 12:33:33
      </div>
      <div class="item ripple" nz-tooltip nzTitle="更多" nzPlacement="bottom">
        <i class="icon">more_vert</i>
      </div>
    </div>
    <div class="pagination">
      <div class="flex center">
        <span>
          第
          <ng-container *ngIf="total; else zero" >
            <span>{{ start }}</span> - <span>{{ end }}</span>
          </ng-container>
          <ng-template #zero>
            <span>0</span>
          </ng-template>
          行,
        </span>
        <span>
          共 <span>{{ total }}</span> 行
        </span>
      </div>
      <div class="flex">
        <button
          class="item ripple"
          nz-tooltip
          nzTitle="上一页"
          nzPlacement="bottom"
          [disabled]="size >= start"
          (click)="onPage(-1)">
          <i class="icon">chevron_left</i>
        </button>
        <button
          class="item ripple"
          nz-tooltip
          nzTitle="下一页"
          nzPlacement="bottom"
          [disabled]="end === total"
          (click)="onPage(1)">
          <i class="icon">chevron_right</i>
        </button>
      </div>
    </div>
  </div>
</div>
