<ul class="toolbar">
  <li>
    <button title="粗体">
      <i class="icon">format_bold</i>
    </button>
  </li>
  <li>
    <button title="斜体">
      <i class="icon">format_italic</i>
    </button>
  </li>
  <li>
    <button title="标题">
      <i class="icon">title</i>
    </button>
  </li>
  <li class="divider">
    <button title="下划线">
      <i class="icon">format_underlined</i>
    </button>
  </li>
  <li>
    <button title="中划线">
      <i class="icon">strikethrough_s</i>
    </button>
  </li>
  <li>
    <button title="标记">
      <i class="icon">bookmark</i>
    </button>
  </li>
  <li>
    <button title="居左">
      <i class="icon">format_align_left</i>
    </button>
  </li>
  <li>
    <button title="居中">
      <i class="icon">format_align_center</i>
    </button>
  </li>
  <li>
    <button title="居右">
      <i class="icon">format_align_right</i>
    </button>
  </li>
  <li class="divider">
    <button title="段落引用">
      <i class="icon">format_quote</i>
    </button>
  </li>
  <li>
    <button title="有序列表">
      <i class="icon">format_list_numbered</i>
    </button>
  </li>
  <li>
    <button title="无序列表">
      <i class="icon">format_list_bulleted</i>
    </button>
  </li>
  <li class="divider">
    <button title="链接">
      <i class="icon">insert_link</i>
    </button>
  </li>
  <li>
    <button title="图片">
      <i class="icon">insert_photo</i>
    </button>
  </li>
  <li>
    <button title="代码块">
      <i class="icon">code</i>
    </button>
  </li>
  <li>
    <button title="表格">
      <i class="icon">grid_on</i>
    </button>
  </li>
  <li class="divider">
    <button title="上一步">
      <i class="icon">undo</i>
    </button>
  </li>
  <li>
    <button title="下一步">
      <i class="icon">redo</i>
    </button>
  </li>
  <li>
    <button title="删除">
      <i class="icon">delete_forever</i>
    </button>
  </li>
  <li>
    <button title="保存">
      <i class="icon">save</i>
    </button>
  </li>
</ul>
