@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/font/MaterialIcons-Regular.eot'); /* For IE6-8 */
	src: local('Material Icons'),
		 local('MaterialIcons-Regular'),
		 url('/assets/font/MaterialIcons-Regular.woff2') format('woff2'),
		 url('/assets/font/MaterialIcons-Regular.woff') format('woff'),
		 url('/assets/font/MaterialIcons-Regular.ttf') format('truetype');
 }
 /* meterial icon的设定 */
 .icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
 }

/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	border: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.5;
	font-size: 14px;
	color: #24292e;
	background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix {
	*zoom: 1; /* for IE6-7 */
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
a {
	text-decoration: none;
	border: none;
	outline: none;
}

a:link {
	text-decoration: none;
}

h1 {
  small {
    font-size: 60%;
  }
}

button {
	outline: none;
}

.ripple {
	position: relative;
	cursor: pointer;

	&:hover:before {
		transform: scale(1);
		opacity: 1;
		background: rgba(32, 33, 36, 0.059);
	}
	
	&:before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		transition-duration: .15s;
		transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
		z-index: -1;
		bottom: -10px;
		left: -10px;
		right: -10px;
		top: -10px;
		background: none;
		border-radius: 50%;
		box-sizing: border-box;
		transform: scale(0);
		transition-property: transform,opacity;
	}
	
	&:after {
		content: '';
		height: 200%;
		position: absolute;
		top: -50%;
		left: -50%;
		width: 200%;
	}
}

.flex {
	display: flex;
}

// reset
.ant-tabs-bar {
  margin: 0;
}

.ant-tabs-content {
  padding: 0 0 5px 0;
}

nz-tabset {
  flex: 1;
  display: flex !important;
  flex-direction: column;
}

app-all,
app-awesome,
app-dept,
app-team,
app-table,
app-answer,
app-question,
app-my,
app-collection,
app-draft,
app-shared {
	flex: 1;
	overflow: hidden;
}

app-home,
app-solved {
	width: 100%;
}

.ant-tabs-content {
	flex: 1 !important;
	padding: 0;
}

.ant-tabs-tabpane {
	display: flex;
}

/*****/
.arrow {
  position: absolute;
  left: 4px;
  width: 20px;
  font-size: 10px;
  cursor: inherit;

  &.down i {
    transform: scale(0.7) rotateZ(90deg);
  }

  i {
    transition: transform 0.3s;
    transform: scale(0.7);
  }
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,.85);

	&:before {
		position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.64285714em 0 0 -.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    border-radius: 500rem;
    border: .2em solid rgba(0,0,0,.15);
	}

	&:after {
		position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.64285714em 0 0 -.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    animation: button-spin .6s linear;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #FFF transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
	}
}

@keyframes button-spin {
	from {
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}

/*** form ****/
.required:after {
	content: '*';
	color: #f5222d;
}

.content {
	min-height: 100px;
}

div.textarea[contentEditable] {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	background: #f6f6f6;

	&:focus {
		background: #fff;
		border-color: #aaa;
	}
}
