$kwd: #d73a49;
$str: #032f62;
$num: #005cc5;
$cmt: #6a737d;
$title: #6f42c1;
$name: #22863a;

.markdown-body {
  table {
    display: table;
  }
}

.hljs-keyword {
  color: $kwd;
}

.hljs-string {
  color: $str;
}

.hljs-number {
  color: $num;
}

.hljs-regexp {
  color: $str;
}

.hljs-comment {
  color: $cmt;
}

.hljs-attr,
.hljs-title {
  color: $title;
}

.hljs-name {
  color: $name;
}
